<div class="container">
    <div class="content">
        <div class="block">
            <p>Questions? Call <a href="#" class="link">000-800-919-1694</a></p>
            <div class="inside-part">
                <ul type="none">
                    <li><a href class="link1">FAQ</a></li>
                    <li><a href class="link1">Media Centre</a></li>
                    <li><a href class="link1">Ways to Watch</a></li>
                    <li><a href class="link1">Cookie Preferences</a></li>
                    <li><a href class="link1">Speed Test</a></li>
                </ul>
            </div>
            <div class="inside-part-one">
                <ul type="none">
                    <li><a href class="link1">Help Centre</a></li>
                    <li><a href class="link1">Investor Relation</a></li>
                    <li><a href class="link1">Tearm of Use</a></li>
                    <li><a href class="link1">Corporate Information</a></li>
                    <li><a href class="link1">Leagal Notice</a></li>
                </ul>
            </div>
            <div class="inside-part-two">
                <ul type="none">
                    <li><a href class="link1">Account</a></li>
                    <li><a href class="link1">Jobs</a></li>
                    <li><a href class="link1">Privacy</a></li>
                    <li><a href class="link1">Contact Us</a></li>
                    <li><a href class="link1">Only on Netflix</a></li>
                </ul>
            </div>
        </div>
        <div>
            <h4 class="head-four">Netflix India</h4>
        </div>
    </div>
</div>