.container{
    position: relative;
    border: 1px solid ;
    width: 1347px;
    height: 505px;
    background-color: #282828;
    margin-top: 770px;
}
.content{
    position: relative;
    border: 1px solid black;
    width: 1347px;
    height: 470px;
    background-color: black;
    margin-top: 10px;
}
.block{
    margin-top: 60px;
    margin-left: 160px;
    border: 1px solid black;
    width: 890px;
    height: 300px;
    font-size: 16px;
    color: #AFAFAF;
}
.link{
    color: #AFAFAF;
    width: 100px;
    height: 1px;
}
.link1{
    margin-left: -39px;
    color: #AFAFAF;
    width: 100px;
    height: 1px;
}
.inside-part{
    margin-top: 20px;
    border: 1px solid black;
    width: 200px;
    height: 240px;
    line-height: 2em;
}
.inside-part-one{
    float: left;
    margin-left: 340px;
    margin-top: -240px;
    border: 1px solid black;
    width: 200px;
    height: 240px;
    line-height: 2em;
}
.inside-part-two{
    float: left;
    margin-left: 680px;
    margin-top: -240px;
    border: 1px solid black;
    width: 200px;
    height: 240px;
    line-height: 2em;
}
mat-form-field{
    border: 1px solid black;
    width: 122px;
    height: 70px;
    margin-left: 170px;
}
.head-four{
    color: #AFAFAF;;
    margin-left: 160px;
}