<div class="container">
    <div class="content">
        <div class="left-content">
            <h2 class="head-one">Download your shows to watch offline</h2>
            <h4 class="head-two">Save your favourites easily and always have something to watch.</h4>
        </div>
        <div class="right-content">
            
            <vg-player>
                <div class="hide"></div>
                <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" autoplay loop [muted]="'muted'">
                    <source src="assets/vedios/v2.mp4" type="video/mp4">
                </video>
            </vg-player>
        </div>
    </div>
</div>>