<div class="container">
    <img src="assets/image/netflixlogo.png" class="image2">
    <h3><a routerLink="/signup" class="lnk">
            Sign Out</a></h3>
</div>
<div>
    <h4 class="headone">STEP 1 OF 3</h4>
    <h2 class="headtwo">Choose the plan that’s right for you</h2>
    <img src="assets/image/tick.png" class="imgone">
    <h6 class="headthree">Watch all you want. Ad-free.</h6>
    <img src="assets/image/tick.png" class="imgtwo">
    <h6 class="headfour">Recommendations just for you.</h6>
    <img src="assets/image/tick.png" class="imgthree">
    <h6 class="headfive">Change or cancel your plan anytime.</h6>
</div>

<div class="blocks1">
    <!--sidelabels-->
    <div class="text1">
        <h4 class="headten">Monthly price</h4>
        <hr class="line">
    </div>
    <div class="text2">
        <h4 class="headele">Video quality</h4>
        <hr class="line">
    </div>
    <div class="text3">
        <h4 class="headtwe">Resolution</h4>
        <hr class="line">
    </div>
    <div class="text4">
        <h4 class="headthe">Devices you can use to watch</h4>
    </div>
    <div class="inside-block">
        <button class="block1" (click)="switch()"
            [ngStyle]="this.clicked==true?{'background-color':'#E50914'}:{'background-color':'#EF6B71'}">
            <h4>Mobile</h4>
        </button>
        <div class="price"
            [ngStyle]="this.clicked==true?{'color':'#E50914'}:{'color':'black'}">rs
            149</div>
        <div class="price"
            [ngStyle]="this.clicked==true?{'color':'#E50914'}:{'color':'black'}">Good</div>
        <div class="price"
            [ngStyle]="this.clicked==true?{'color':'#E50914'}:{'color':'black'}">480p</div>
        <div class="mobile"
            [ngStyle]="this.clicked==true?{'border':'2px solid #E50914'}:{'border':'2px solid black'}">
            <div class="circle"
                [ngStyle]="this.clicked==true?{'background-color':'#E50914'}:{'background-color':'black'}">
                <h4 class="headsix"
                    [ngStyle]="this.clicked==true?{'color':'#E50914'}:{'color':'black'}">Phone</h4>
            </div>
        </div>
        <div class="tablet"
            [ngStyle]="this.clicked==true?{'border':'2px solid #E50914'}:{'border':'2px solid black'}">
            <div class="circle1"
                [ngStyle]="this.clicked==true?{'background-color':'#E50914'}:{'background-color':'black'}">
                <h4 class="headseven"
                    [ngStyle]="this.clicked==true?{'color':'#E50914'}:{'color':'black'}">Tablet</h4>
            </div>
        </div>
    </div>
    <!--plan2-->
    <div class="inside-block1">
        <button class="block2" (click)="switch()"
            [ngStyle]="this.clicked1==true?{'background-color':'#E50914'}:{'background-color':'#EF6B71'}">
            <h4>Basic</h4>
        </button>
        <div class="price"
            [ngStyle]="this.clicked1==true?{'color':'#E50914'}:{'color':'black'}">rs
            199</div>
        <div class="price"
            [ngStyle]="this.clicked1==true?{'color':'#E50914'}:{'color':'black'}">Good</div>
        <div class="price"
            [ngStyle]="this.clicked1==true?{'color':'#E50914'}:{'color':'black'}">720p</div>
        <div class="mobile"
            [ngStyle]="this.clicked1==true?{'border':'2px solid #E50914'}:{'border':'2px solid black'}">
            <div class="circle"
                [ngStyle]="this.clicked1==true?{'background-color':'#E50914'}:{'background-color':'black'}">
                <h4 class="headsix"
                    [ngStyle]="this.clicked1==true?{'color':'#E50914'}:{'color':'black'}">Phone</h4>
            </div>
        </div>
        <div class="tablet"
            [ngStyle]="this.clicked1==true?{'border':'2px solid #E50914'}:{'border':'2px solid black'}">
            <div class="circle1"
                [ngStyle]="this.clicked1==true?{'background-color':'#E50914'}:{'background-color':'black'}">
                <h4 class="headseven"
                    [ngStyle]="this.clicked1==true?{'color':'#E50914'}:{'color':'black'}">Tablet</h4>
            </div>
        </div>
        <div class="computer">
            <mat-icon
                [ngStyle]="this.clicked1==true?{'color':'#E50914'}:{'color':'black'}">computer</mat-icon>
            <h4 class="headeight"
                [ngStyle]="this.clicked1==true?{'color':'#E50914'}:{'color':'black'}">computer</h4>
        </div>
        <div class="tv">
            <mat-icon
                [ngStyle]="this.clicked1==true?{'color':'#E50914'}:{'color':'black'}">airplay</mat-icon>
            <h4 class="headnine"
                [ngStyle]="this.clicked1==true?{'color':'#E50914'}:{'color':'black'}">Tv</h4>
        </div>
    </div>
    <!--plan3-->
    <div class="inside-block1">
        <button class="block2" (click)="switch2()"
            [ngStyle]="this.clicked2==true?{'background-color':'#E50914'}:{'background-color':'#EF6B71'}">
            <h4>Standard</h4>
        </button>
        <div class="price"
            [ngStyle]="this.clicked2==true?{'color':'#E50914'}:{'color':'black'}">rs
            499</div>
        <div class="price"
            [ngStyle]="this.clicked2==true?{'color':'#E50914'}:{'color':'black'}">Better</div>
        <div class="price"
            [ngStyle]="this.clicked2==true?{'color':'#E50914'}:{'color':'black'}">1080p</div>
        <div class="mobile"
            [ngStyle]="this.clicked2==true?{'border':'2px solid #E50914'}:{'border':'2px solid black'}">
            <div class="circle"
                [ngStyle]="this.clicked2==true?{'background-color':'#E50914'}:{'background-color':'black'}">
                <h4 class="headsix"
                    [ngStyle]="this.clicked2==true?{'color':'#E50914'}:{'color':'black'}">Phone</h4>
            </div>
        </div>
        <div class="tablet"
            [ngStyle]="this.clicked2==true?{'border':'2px solid #E50914'}:{'border':'2px solid black'}">
            <div class="circle1"
                [ngStyle]="this.clicked2==true?{'background-color':'#E50914'}:{'background-color':'black'}">
                <h4 class="headseven"
                    [ngStyle]="this.clicked2==true?{'color':'#E50914'}:{'color':'black'}">Tablet</h4>
            </div>
        </div>
        <div class="computer">
            <mat-icon
                [ngStyle]="this.clicked2==true?{'color':'#E50914'}:{'color':'black'}">computer</mat-icon>
            <h4 class="headeight"
                [ngStyle]="this.clicked2==true?{'color':'#E50914'}:{'color':'black'}">computer</h4>
        </div>
        <div class="tv">
            <mat-icon
                [ngStyle]="this.clicked2==true?{'color':'#E50914'}:{'color':'black'}">airplay</mat-icon>
            <h4 class="headnine"
                [ngStyle]="this.clicked2==true?{'color':'#E50914'}:{'color':'black'}">Tv</h4>
        </div>
    </div>
    <!--plan4-->
    <div class="inside-block1">
        <button class="block2" (click)="switch3()"
            [ngStyle]="this.clicked3==true?{'background-color':'#E50914'}:{'background-color':'#EF6B71'}">
            <h4>Premium</h4>
        </button>
        <div class="price"
            [ngStyle]="this.clicked3==true?{'color':'#E50914'}:{'color':'black'}">rs
            499</div>
        <div class="price"
            [ngStyle]="this.clicked3==true?{'color':'#E50914'}:{'color':'black'}">Better</div>
        <div class="price"
            [ngStyle]="this.clicked3==true?{'color':'#E50914'}:{'color':'black'}">1080p</div>
        <div class="mobile"
            [ngStyle]="this.clicked3==true?{'border':'2px solid #E50914'}:{'border':'2px solid black'}">
            <div class="circle"
                [ngStyle]="this.clicked3==true?{'background-color':'#E50914'}:{'background-color':'black'}">
                <h4 class="headsix"
                    [ngStyle]="this.clicked3==true?{'color':'#E50914'}:{'color':'black'}">Phone</h4>
            </div>
        </div>
        <div class="tablet"
            [ngStyle]="this.clicked3==true?{'border':'2px solid #E50914'}:{'border':'2px solid black'}">
            <div class="circle1"
                [ngStyle]="this.clicked3==true?{'background-color':'#E50914'}:{'background-color':'black'}">
                <h4 class="headseven"
                    [ngStyle]="this.clicked3==true?{'color':'#E50914'}:{'color':'black'}">Tablet</h4>
            </div>
        </div>
        <div class="computer">
            <mat-icon
                [ngStyle]="this.clicked3==true?{'color':'#E50914'}:{'color':'black'}">computer</mat-icon>
            <h4 class="headeight"
                [ngStyle]="this.clicked3==true?{'color':'#E50914'}:{'color':'black'}">computer</h4>
        </div>
        <div class="tv">
            <mat-icon
                [ngStyle]="this.clicked3==true?{'color':'#E50914'}:{'color':'black'}">airplay</mat-icon>
            <h4 class="headnine"
                [ngStyle]="this.clicked3==true?{'color':'#E50914'}:{'color':'black'}">Tv</h4>
        </div>
    </div>
</div>
<div class="section1">

</div>
<router-outlet></router-outlet>
